* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'ABeeZee'; }

/* Coolors Exported Palette - coolors.co/2f718f-fc716b-e74f47-fee6e1-fccc61 */
/* RGB */
.yellow-bg {
  background-color: #fccc61; }

.blue-bg {
  background-color: #2f718f; }

.red-bg {
  background-color: #e74f47; }

.pink-bg {
  background-color: #fc716b; }

.light-pink-bg {
  background-color: #fee6e1; }

.blue {
  color: #2f718f; }

.yellow {
  color: #fccc61; }

.light-pink {
  color: #fee6e1; }

.grey {
  color: lightgray; }

.tweet-card {
  width: 65%;
  margin: 4% auto;
  background: #fffefd;
  border-radius: 5px;
  padding: 3% 5%;
  text-align: center; }

.tweet-card h2 {
  margin-bottom: 6%; }

.tweet-card hr {
  width: 4em;
  margin: 4% auto;
  border: 0;
  height: 1px;
  background: grey; }

.closed-sign {
  padding: 5%; }

.container::after {
  content: "";
  clear: both;
  display: block; }

.text-center {
  text-align: center; }

.img-center {
  display: block;
  margin: auto; }

.location-header {
  margin-top: 10vh; }

.franklin-header {
  width: 20%; }

.canal-header {
  width: 16%; }

.vault-img-group {
  position: relative;
  top: 15vh; }

.status-img {
  width: 55%; }

.timestamp {
  width: 12.5em;
  height: 5.5em;
  position: fixed;
  top: 94%;
  left: 50%;
  padding-top: 1.13em;
  margin-top: -105px;
  margin-left: -110px;
  border-radius: 8px;
  border: 2.5px solid #fffefd;
  color: #fffefd; }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-device-width: 740px) and (orientation: landscape) {
  .left {
    float: left;
    width: 50%;
    height: 100vh;
    border-right: 2px solid white; }
  .right {
    float: right;
    width: 50%;
    height: 100vh;
    border-left: 2px solid white; }
  .timestamp {
    visibility: hidden; } }

/* Smartphones (portrait) ----------- */
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .left {
    float: left;
    width: 50%;
    height: 100vh;
    border-right: 2px solid white; }
  .right {
    float: right;
    width: 50%;
    height: 100vh;
    border-left: 2px solid white; } }

/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .left {
    float: left;
    width: 50%;
    height: 100vh;
    border-right: 2px solid white; }
  .right {
    float: right;
    width: 50%;
    height: 100vh;
    border-left: 2px solid white; } }
