/* Coolors Exported Palette - coolors.co/2f718f-fc716b-e74f47-fee6e1-fccc61 */

/* RGB */
$blue: rgba(47, 113, 143, 1);
$pink: rgba(252, 113, 107, 1);
$red: rgba(231, 79, 71, 1);
$light-pink: rgba(254, 230, 225, 1);
$yellow: rgba(252, 204, 97, 1);
$bone: rgba(255, 254, 253, 1);