@mixin horizontal {
  .container {
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  .left {
    float: left;
    width: 50%;
    height: 100vh;
    border-right: 2px solid white;
  }

  .right {
    float: right;
    width: 50%;
    height: 100vh;
    border-left: 2px solid white;
  }
}

@mixin vertical {
  .container {
    display: flex;
    flex-direction: column;
  }
}

/* small screen (landscape) */
@media only screen and (min-width: 321px) and (max-device-width: 740px) and (orientation: landscape) {
  @include horizontal;
  .timestamp {
    width: 11em;
    height: 5.5em;
    position: fixed;
    top: 98%;
    left: 53.5%;
    padding-top: 1.2em;
    border: 2.5px solid $bone;
    color: $bone;
    font-size: smaller;
  }
}

@media only screen and (orientation: landscape) {
  @include horizontal;
}

@media only screen and (orientation: portrait) {
  @include vertical;
}
