@import 'palette';
@import 'backgrounds';
@import 'font-colors';

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'ABeeZee';
}

.container {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.text-center {
  text-align: center;
}

.left {
  float: left;
  width: 50%;
  height: 100vh;
}

.right {
  float: right;
  width: 50%;
  height: 100vh;
}

.location-header {
  margin-top: 6vh;
}

.franklin-header {
  width: 20%;
}

.canal-header {
  width: 16%;
}

.img-center {
  display: block;
  margin: auto;
}

.vault-img-group {
  position:relative;
  top: 15vh;
}

.status-img {
  width: 55%;
}

.timestamp {
  width: 14em;
  height: 5.5em;
  position: fixed;
  top: 94%;
  left: 50%;
  padding-top: 1em;
  margin-top: -100px;
  margin-left: -110px;
  border-radius: 8px;
  border: 2.5px solid $bone;
  color: $bone;
}
